body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../Assets/bgImage.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
}

.login-menu {
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 10px;
    width: 450px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.logo {
    width: 100%;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.login-form label {
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 15px;
}

.login-form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 18px;
}

.login-form a {
    margin-top: 15px;
    font-size: 15px;
    text-decoration: none;
    color: #0066cc;
    text-align: center;
}

.login-form a:hover {
    text-decoration: underline;
    transition: ease 0.3s;
}

.login-form button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0066cc;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

.login-form button:hover {
    background-color: #004c99;
    transition: ease 0.3s;
}
