body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  background-color: #f8f9fa;
}

#toolbox {
  width: 15%;
  background-color: #343a40; 
  color: #fff;
  padding: 20px;
  overflow-y: auto;
}

#toolbox h3 {
  text-align: center;
  margin-bottom: 15px;
  color: #f9f9f9;
}

.drag-item {
  padding: 10px;
  margin: 5px 0;
  color: #495057;
  background-color: #f9f9f9;
  border-radius: 5px;
  text-align: center;
  cursor: grab;
}

.drag-item:hover{
  transition: 0.3s ease;
  color: #f9f9f9;
  background-color: #6C757D;
  font-weight: bold;
}

.drag-item:active {
  cursor: grabbing;
}

#form-area {
  flex: 1;
  padding: 20px;
  border-left: 2px solid #343a40;
  background-color: #edf0f2;
  overflow-y: auto;
}

#form-area h3 {
  text-align: center;
  margin-bottom: 10px;
  color: #495057;
}

#form-area p {
  color: #6c757d; 
  text-align: center;
}

input, textarea, button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

textarea {
  resize: none;
}

#form-area label {
  display: inline-block;
  margin-right: 20px; /* Adds space between radio buttons and checkboxes */
}
